body {
    background-color: rgb(83, 76, 62);
}

.title {
    font-family: 'Nova Flat', 'Langar', serif;
}

.paragraph {
    font-family: 'Langar', 'Nova Flat', serif;
    text-align: center;
}

/* Transformarlo en un bloque */
.link {
    display: block;
    text-align: center;
}

.line {
    text-decoration: underline aqua;
    font-size: 30px;
}

.line2 {
    text-decoration: 10px overline rgb(15, 187, 38);
    font-size: 30px;
}

.link2 {
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: none;
}

.paragraph2 {
    text-indent: 40px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    margin: 0 auto;
}

.box__item {
    line-height: 100px;
    text-align: center;
}