body {
    color: #eee;
    font-family: sans-serif;
    background-color: rgb(78, 78, 134);
}

/* New 1 */

.grid-container {
    display: grid;
    gap: 10px;
    height: 400px;
    border: 3px solid rgb(231, 209, 11);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.grid-item {
    border: 1px solid;
    padding: 14px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* New 2 */

.grid-container1 {
    display: grid;
    gap: 10px;
    height: 400px;
    border: 3px solid rgb(231, 209, 11);
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.grid-item1 {
    border: 1px solid;
    padding: 14px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* New 3 */

.grid-container2 {
    display: grid;
    gap: 10px;
    height: 400px;
    border: 3px solid rgb(231, 209, 11);
    grid-template-columns: repeat(3, 1fr);
    place-items: center end;
}

.grid-item2 {
    border: 1px solid;
    padding: 14px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}