/* **************************** ITEM DESIGN **************************** */
body {
    background-image: radial-gradient(rgb(189, 180, 180), rgb(103, 104, 59));
    background-repeat: no-repeat;
    /* height: auto; */
}

.itemTitle {
    text-align:center;
    color:rgb(204, 156, 25);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    letter-spacing: 5px;
    text-shadow: -1px -1px 1px #01010c, 1px -1px 1px #01010c, -1px 1px 1px #01010c, 1px 1px 1px #01010c;
}

.itemSubTitle {
    margin-top: 10px;
    text-align:center;
    font-size: 20px;
    color: rgb(39, 36, 36);    
}

.itemInfo {
    margin-top: 24px;
    background-color: #09092c;
    padding-top: 4px;
    padding-bottom: 4px;
}

.itemInfo__title {
    color: #fff;
    font-size: 18px;
    margin: 0 10px;
}

.itemInfo__subtitle {
    margin-top: 5px;
    color: rgb(150, 140, 140);
    font-size: 15px;
    margin: 5px 10px;
}

.itemInfo__example {
    margin-top: 5px;
    color: rgb(84, 143, 66);
    font-size: 15px;
    margin: 0 10px;
}
/* **************************** ITEM DESIGN **************************** */
/* ------------ Grid Dense ------------ */
.gridContainer {
    margin: 0 auto;
    width: 80vw;
    height: auto;
    background-color: #222;
    border: medium solid #000;
}

.gridItem {
    padding: 1%;
    font-size: 1.25rem;
    background-color: #666;
    border: 2px solid #999;
}

.gridDense {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 200px);
}

.gridItem:nth-child(9) {
    background-color: blueviolet;
    grid-column: span 3;
    grid-row: span 3;
}
/* ------------ Grid Dense ------------ */

/* ------------ Grid Dense1 ------------ */
.gridContainer1 {
    margin: 0 auto;
    width: 80vw;
    height: auto;
    background-color: #222;
    border: medium solid #000;
}

.gridItem1 {
    padding: 1%;
    font-size: 1.25rem;
    background-color: #666;
    border: 2px solid #999;
}

.gridDense1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-auto-flow: dense;
}

.gridItem1:nth-child(9) {
    background-color: blueviolet;
    grid-column: span 3;
    grid-row: span 3;
}

/* ------------ Grid Dense1 ------------ */
