body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.titulares {
    /* Para que se acople a la caja el nav, no dar medidas aquí, y así cuando agregue varios items de (il) no 
    perderá el diseño */
    background-color: rgb(68, 59, 10);
    color: #EEE;
}

.header {
    background-color: red;
}

.logo {
    background-color: blue;
}

/* Para las pantallas grandes */
@media screen and (min-width: 1024px) {
    .header {
        display: flex;
        background-color: rgb(161, 42, 165);
    }

    .logo {
        background-color: rgb(0, 195, 255);
    }
}
