body {
    font-family: sans-serif;
    background-image: radial-gradient(circle, #b677db, #4b2a68);
    color: #eee;
}

/* New 1 */

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: sans-serif;
    color: #eee;
}

.grid-container {
    display: grid;
    grid-template-columns: 100px 60px 40px 100px;
    grid-template-rows: 70px 80px 90px;
}

.grid-item {
    border: 1px solid;
    padding: 14px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* New 2 */

.main-container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: sans-serif;
    color: #eee;
}

.grid-container1 {
    display: grid;
    grid-template-columns: 100px 60px 40px 100px;
    grid-template-rows: 70px 80px 90px;
    column-gap: 10px;
    row-gap: 20px;
}

.grid-item1 {
    border: 1px solid;
    padding: 14px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}