body {
    font-family: sans-serif;
    background-image: radial-gradient(circle, #b677db, #4b2a68);
    color: #eee;
    background-repeat: no-repeat;
}


/* New 1 */

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: sans-serif;
    color: #eee;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(3, 100px);
}

.grid-item {
    border: 1px solid;
    padding: 14px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* New 1 */

.main-container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: sans-serif;
    color: #eee;
}

.grid-container1 {
    display: grid;
    grid-template-columns: 70px repeat(3, 50px) 70px;
    grid-template-rows: repeat(3, 100px);
}

.grid-item1 {
    border: 1px solid;
    padding: 14px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
