body {
    background-color: rgb(39, 42, 43);
}

.box {
    background-color: rgb(94, 79, 16);
    color: #fff;
}

h1 {
    font-size: 28px;
    text-align: center;
}

h2 {
    font-size: 14px;
}

/* New 1 */
.grid__container {
    margin: 0 auto;
    width: 80vw;
    height: 100vh;
    background-color: #222;
    border: medium solid #000;
}

.grid__item {
    padding: 1%;
    font-size: 1.25rem;
    background-color: #666;
    border: 2px solid #999;
}

.grid__order {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.grid__item:nth-child(3) {
    background-color: rgb(128, 36, 36);
    order: 1;
}

.grid__item:nth-child(2) {
    background-color: rgb(36, 128, 100);
    order: 2;
}


/* New 2 */
.grid__container1 {
    margin: 0 auto;
    width: 80vw;
    height: 100vh;
    background-color: #222;
    border: medium solid #000;
}

.grid__item1 {
    padding: 1%;
    font-size: 1.25rem;
    background-color: #666;
    border: 2px solid #999;
}

.grid__align {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(2, 200px);
    justify-items: center;
}

/* New 2 */
.grid__container2 {
    margin: 0 auto;
    width: 80vw;
    height: 100vh;
    background-color: #222;
    border: medium solid #000;
}

.grid__item2 {
    padding: 1%;
    font-size: 1.25rem;
    background-color: #666;
    border: 2px solid #999;
}

.grid__align2 {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(2, 200px);
    align-items: center;
}

/* New 3 */
.grid__container3 {
    margin: 0 auto;
    width: 80vw;
    height: 100vh;
    background-color: #222;
    border: medium solid #000;
}

.grid__item3 {
    padding: 1%;
    font-size: 1.25rem;
    background-color: #666;
    border: 2px solid #999;
}

.grid__align3 {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(2, 200px);
    align-items: center;
    justify-items: center;
}


/* New 4 */
.grid__container4 {
    margin: 0 auto;
    width: 80vw;
    height: 100vh;
    background-color: #222;
    border: medium solid #000;
}

.grid__item4 {
    padding: 1%;
    font-size: 1.25rem;
    background-color: #666;
    border: 2px solid #999;
}

.grid__align4 {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(2, 200px);
}

.grid__item4:nth-child(5) {
    padding: 1%;
    font-size: 1.25rem;
    background-color: #666;
    border: 2px solid #999;
    align-self: end;
    justify-self: center;
}

