/* **************************** ITEM DESIGN **************************** */
body {
    background-image: radial-gradient(rgb(189, 180, 180), rgb(103, 104, 59));
    background-repeat: no-repeat;
    height: auto;
}

.itemTitle {
    text-align:center;
    color:rgb(204, 156, 25);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    letter-spacing: 5px;
    text-shadow: -1px -1px 1px #01010c, 1px -1px 1px #01010c, -1px 1px 1px #01010c, 1px 1px 1px #01010c;
}

.itemSubTitle {
    margin-top: 10px;
    text-align:center;
    font-size: 20px;
    color: rgb(39, 36, 36);    
}

.itemInfo {
    margin-top: 24px;
    background-color: #09092c;
    padding-top: 4px;
    padding-bottom: 4px;
}

.itemInfo__title {
    color: #fff;
    font-size: 18px;
    margin: 0 10px;
}

.itemInfo__subtitle {
    margin-top: 5px;
    color: rgb(150, 140, 140);
    font-size: 15px;
    margin: 5px 10px;
}

.itemInfo__example {
    margin-top: 5px;
    color: rgb(84, 143, 66);
    font-size: 15px;
    margin: 0 10px;
}
/* **************************** ITEM DESIGN **************************** */
/* ------------ Enumeración de las listas ------------ */
.list {
    list-style-type: decimal-leading-zero;
}
/* ------------ Enumeración de las listas ------------ */

/* ------------ Formateo de una lista ------------ */
.listReset{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
/* ------------ Formateo de una lista ------------ */

/* ------------ Listado con imágenes ------------ */
.listImage {
    list-style-type: none;
}

.listImage__item {
    background-image: url(./assets/check.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    display: block;
    height: 20px;
    padding-left: 25px;
    margin-top: 20px;
}
/* ------------ Listado con imágenes ------------ */
