body {
    background-color: rgb(39, 42, 43);
}

.box {
    background-color: rgb(94, 79, 16);
    color: #fff;
}

h1 {
    font-size: 28px;
    text-align: center;
}

h2 {
    font-size: 14px;
}

/* New 1 */
.grid__container {
    margin: 0 auto;
    width: auto;
    height: auto;
    background-color: #222;
    border: medium solid #000;
}

.grid__item {
    padding: 1%;
    font-size: 1.25rem;
    background-color: #666;
    border: 2px solid #999;
}

.grid__responsive {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-template-rows: 270px;
    grid-auto-rows: 270px;
    gap: 6px;
}
