body {
    background-color: rgb(39, 42, 43);
}

.box {
    background-color: rgb(94, 79, 16);
    color: #fff;
}

h1 {
    font-size: 28px;
    text-align: center;
}

h2 {
    font-size: 14px;
}

.grid__container {
    margin: 0 auto;
    width: 80vw;
    height: auto;
    background-color: #222;
    border: medium solid #000;
}

.grid__item {
    padding: 1%;
    font-size: 1.25rem;
    background-color: #666;
    border: 2px solid #999;
}

.grid__dense {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 200px);
}

.grid__item:nth-child(9) {
    background-color: blueviolet;
    grid-column: span 3;
    grid-row: span 3;
}

/* New 2 */

.grid__container1 {
    margin: 0 auto;
    width: 80vw;
    height: auto;
    background-color: #222;
    border: medium solid #000;
}

.grid__item1 {
    padding: 1%;
    font-size: 1.25rem;
    background-color: #666;
    border: 2px solid #999;
}

.grid__dense1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-auto-flow: dense;
}

.grid__item1:nth-child(9) {
    background-color: blueviolet;
    grid-column: span 3;
    grid-row: span 3;
}

/* New 3 */

.grid__container2 {
    margin: 0 auto;
    width: 80vw;
    height: auto;
    background-color: #222;
    border: medium solid #000;
}

.grid__item2 {
    padding: 1%;
    font-size: 1.25rem;
    background-color: #666;
    border: 2px solid #999;
}

.grid__dense2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-auto-flow: dense;
    grid-auto-rows: 200px;
}

.grid__item2:nth-child(9) {
    background-color: blueviolet;
    grid-column: span 3;
    grid-row: span 3;
}
