/* **************************** ITEM DESIGN **************************** */
body {
    background-image: radial-gradient(rgb(189, 180, 180), rgb(103, 104, 59));
    background-repeat: no-repeat;
    height: auto;
}

.itemTitle {
    text-align:center;
    color:rgb(204, 156, 25);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    letter-spacing: 5px;
    text-shadow: -1px -1px 1px #01010c, 1px -1px 1px #01010c, -1px 1px 1px #01010c, 1px 1px 1px #01010c;
}

.itemSubTitle {
    margin-top: 10px;
    text-align:center;
    font-size: 20px;
    color: rgb(39, 36, 36);    
}

.itemInfo {
    margin-top: 24px;
    background-color: #09092c;
    padding-top: 4px;
    padding-bottom: 4px;
}

.itemInfo__title {
    color: #fff;
    font-size: 18px;
    margin: 0 10px;
}

.itemInfo__subtitle {
    margin-top: 5px;
    color: rgb(150, 140, 140);
    font-size: 15px;
    margin: 5px 10px;
}

.itemInfo__example {
    margin-top: 5px;
    color: rgb(84, 143, 66);
    font-size: 15px;
    margin: 0 10px;
}
/* **************************** ITEM DESIGN **************************** */

/* ------------ Order ------------ */
.containerOrder {
    height: 120px;
    background-color: blueviolet;
    display: flex;
}

.itemOrder {
    height: 80px;
    border: 1px solid black;
    background-color: cadetblue;
}

.itemOrder:nth-child(2) {
    order: 1;
}

.itemOrder:nth-child(5) {
    order: 2;
}
/* ------------ Order ------------ */

/* ------------ Align-Self ------------ */
.containerAlign-Self {
    height: 120px;
    background-color: blueviolet;
    display: flex;
}

.itemAlign-Self {
    border: 1px solid black;
    background-color: cadetblue;
}

.itemAlign-Self:nth-child(2) {
    align-self: flex-start;
}
/* ------------ Align-Self ------------ */
