body {
    background-color: rgb(34, 31, 28);
    color: #fff;
}

.box {
    background-color: rgb(147, 95, 160);
}

.h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(201, 151, 14);
}

.img {
    margin-top: 20px;
    text-align: center;
}

/* New 1 */

.container {
    height: 120px;
    background-color: blueviolet;

    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.item {
    border: 1px solid black;
    background-color: cadetblue;
}

/* New 2 */

.container1 {
    height: 120px;
    background-color: blueviolet;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.item1 {
    border: 1px solid black;
    background-color: cadetblue;
}

/* New 3 */

.container2 {
    height: 120px;
    background-color: blueviolet;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.item2 {
    border: 1px solid black;
    background-color: cadetblue;
}

/* New 4 */

.container3 {
    height: 120px;
    background-color: blueviolet;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.item3 {
    border: 1px solid black;
    background-color: cadetblue;
}


/* New 5 */

.container4 {
    height: 120px;
    background-color: blueviolet;

    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.item4 {
    border: 1px solid black;
    background-color: cadetblue;
}

.item4:nth-child(3) {
    font-size: 12px;
}

.item4:nth-child(6) {
    font-size: 22px;
}

.item4:nth-child(8) {
    font-size: 18px;
}


/* New 6 */

.container5 {
    height: 120px;
    background-color: blueviolet;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: flex-start;
}

.item5 {
    width: 20%;
    border: 1px solid black;
    background-color: cadetblue;
}

/* New 7 */

.container6 {
    height: 120px;
    background-color: blueviolet;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.item6 {
    width: 20%;
    border: 1px solid black;
    background-color: cadetblue;
}