body {
    background: rgb(36, 27, 27);
}

/* Solo elementos de bloque */
.title::first-letter {
    color: chartreuse;
    font-size: 50px;
}

.text::first-line {
    font-size: 30px;
}

/* Colores al seleccionar un texto con el mouse */
.text::selection{
    background-color: coral;
    color: cyan;
}