body {
    background-color: rgb(38, 51, 51);
}

.container {
    width: 100%;
    background-color: gray;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container1 {
    width: 100%;
    background-color: gray;
    text-align: center;
}


.container2, .img2, .span2 {
    vertical-align: middle;
}

.container2 {
    width: 100%;
    background-color: gray;
}

.container3 {
    display: flex;
    align-items: center;
}