body {
    font-family: sans-serif;
    height: 100vh;
    background-color: rgb(78, 78, 134);
    color: #eee;
    background-repeat: no-repeat;
}

/* New 1 */

.grid-container {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
}

.grid-item {
    border: 1px solid;
    padding: 14px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* New 2 */

.grid-container1 {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(3, minmax(max-content, 1fr));
}

.grid-item1 {
    border: 1px solid;
    padding: 14px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* New 3 */

.grid-container2 {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.grid-item2 {
    border: 1px solid;
    padding: 14px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* New 4 */

.grid-container3 {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.grid-item3 {
    border: 1px solid;
    padding: 14px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}