body {
    background-color: rgb(39, 42, 43);
}

.box {
    background-color: rgb(94, 79, 16);
    color: #fff;
}

h1 {
    font-size: 28px;
    text-align: center;
}

h2 {
    font-size: 14px;
}

.grid__container {
    margin: 0 auto;
    width: 80vw;
    height: auto;
    background-color: #222;
    border: medium solid #000;
}

.grid__item {
    padding: 1%;
    font-size: 1.25rem;
    background-color: #666;
    border: 2px solid #999;
}

.grid-explicit {
    display: grid;
    grid-template-columns: repeat(5, 19%);
    grid-template-rows: repeat(4, auto);
    gap: 5px;
    column-gap: 12px;
    row-gap: 10px;
}
