body {
    background-color: rgb(39, 42, 43);
}

.box {
    background-color: rgb(94, 79, 16);
    color: #fff;
}

h1 {
    font-size: 28px;
    text-align: center;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 14px;
}

.grid__container {
    margin: 0 auto;
    width: 80vw;
    height: auto;
    background-color: #222;
    border: medium solid #000;
}

.grid__item {
    padding: 1%;
    font-size: 1.25rem;
    background-color: #666;
    border: 2px solid #999;
}

.grid-explicit {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(4, auto);
}

.grid__item:nth-child(7) {
    color: red;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
