body {
    background-color: rgb(88, 78, 70);
}

.table {
    table-layout: fixed;
    text-align: center;
    width: 100%;
}

.table1,  .table__data1, .table__head1 {
    border: 1px solid steelblue;
    border-spacing: 16px;
}

.table2 {
    border: 1px solid steelblue;
    table-layout: fixed;
    text-align: center;
    border-spacing: 16px;
    background-image: url(../assets/cloud.jpg);
    background-size: cover;
}

.table__data2, .table__head2 {
    border: 1px solid steelblue;
    border-spacing: 16px;
}

.table3 {
    border-collapse: collapse;
}

.table3,  .table__data3, .table__head3 {
    border: 1px solid steelblue;
    border-spacing: 16px;
}

.table4 {
    width: 100%;
}

.table4,  .table__data4, .table__head4 {
    border: 1px solid steelblue;
    border-spacing: 16px;
}

/* Hace que aparezca un scroll en la tabla cuando es pequeña la pantalla */
.table-container {
    overflow-x: auto;
}

.table5 {
    width: 80%;
    background-color: brown;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid steelblue;
    border-spacing: 16px;
}

.table__data5 {
    border: 1px solid steelblue;
    border-spacing: 16px;
    text-align: center;
}

.table__head5 {
    border: 1px solid rgb(42, 194, 148);
    border-spacing: 16px;
    text-align: center;
}

.img5 {
    height: 50px;
    width: 50px;
}

.label5 {
    margin-left: 15px;
}

.container5 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
